.application {
    padding: 6px 8px;

    >div {
        border: 1px solid #f0f0f0;
        padding: 8px;
        >div {
            height: auto;

            h4 {
                text-align: left;
                font-weight: 400;
            }

            h6 {
                text-align: left;
                line-height: 1em;
                font-weight: 400;
                color: #666;
            }
        }
    }
}